<h1>Database Read Query</h1>
    <p>Welcome to Jordan and Kody's Cloud Project!</p>
    <p>EC2 Data: <span id="data"></span></p>
    <button type="button" class="btn btn-primary" id="button1">Click Me to Read From Database</button>
<div id="addData"></div>
