<h1>Database Read Query</h1>
<p>Welcome to Jordan and Kody's Cloud Project!</p>
<p>Hostname: <span id="hostname"></span></p>
<p>IP Address: <span id="ipaddress"></span></p>
<button type="button" class="btn btn-primary" id="button1">Click Me to Read From Database</button>
<div id="addData"></div>
